@use '../helpers' as *;

.about-section {
    overflow-x: clip;

    &__inner {
        padding-block: rem(140);
        display: flex;
        flex-direction: column;
        row-gap: rem(100);
    }

    &__body {
        display: flex;
        flex-direction: column;
        row-gap: rem(120);
    }

    &__summary {
        &-list {
            display: grid;
            column-gap: rem(150);
            row-gap: rem(30);

            @include mobile-above {
                grid-template-columns: repeat(2, 1fr);
            }
        }

        &-item {
            display: flex;
            flex-direction: column;
            row-gap: rem(40);
            justify-content: center;
            align-items: center;

            p {
                text-align: center;
            }
        }
    }
}