@use '../helpers' as *;

.article-card {
    position: relative;
    display: flex;
    flex-direction: column;
    row-gap: rem(40);
    padding: rem(16);
    border: rem(2) solid var(--color-black);
    border-radius: rem(8);
    background-color: var(--color-white);
    transition-duration: var(--transition-duration);
    cursor: pointer;
    z-index: 10;

    @include hover {
        box-shadow: var(--shadow-black);

        .article-card__title {
            color: var(--color-accent);
        }
    }

    &__image {
        border-radius: rem(8);
    }

    &__body {
        display: flex;
        flex-direction: column;
        row-gap: rem(20);
        flex-grow: 1;
    }

    &__name {
        display: flex;
        flex-direction: column;
        row-gap: rem(6);
    }

    &__type {
        font-weight: 700;
        color: var(--color-gray);
        @include fluid-text(14, 12);
    }

    &__title {
        font-weight: 700;
        letter-spacing: -0.02em;
        transition-duration: var(--transition-duration);
    }

    &__description {
        padding-bottom: rem(30);
        border-bottom: rem(0.5) solid var(--color-gray);
        color: var(--color-gray);
        flex-grow: 1;
        
        @include fluid-text(14, 12);
    }

    &__footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__tags {
        &-list {
            display: flex;
            column-gap: rem(6);
        }

        &-item {
            padding: rem(6) rem(12);
            border: rem(1) solid var(--color-gray);
            border-radius: rem(4);
        }

        &-text {
            color: var(--color-gray);
            @include fluid-text(12, 10);
        }
    }

    &__date {
        font-weight: 700;
        color: var(--color-gray);
        @include fluid-text(12, 10);
    }
}