@use '../helpers' as *;

.hero-single-news {
    position: relative;
    padding-block: rem(80) rem(46);
    z-index: 10;
    display: flex;
    flex-direction: column;
    row-gap: rem(47);

    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;

        &-text {
            font-size: rem(14);
            color: var(--color-gray);
        }
    }

    &__button {
        display: flex;
        column-gap: rem(10);
        align-items: center;
    }

    &__body {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: rem(40);

        &-header {
            display: flex;
            flex-direction: column;
            align-items: center;
            row-gap: rem(10);
        }

        &-category {
            font-weight: 700;
            font-size: rem(14);
            line-height: 160%;
            color: var(--color-accent);
        }
    }
}