@use '../helpers' as *;

.hero {
    position: relative;
    overflow-x: clip;
    background-color: var(--color-light-accent);

    &__inner {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: rem(60);
        padding-block: rem(64) rem(120);

        @include mobile {
            padding-bottom: rem(80);
        }
    }

    &__text {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: rem(40);
    }

    &__title {
        &--accent {
            color: var(--color-accent);
        }
    }

    &__description {
        display: flex;
        align-items: center;
        text-align: center;
        max-width: 70%;
    }

    &__actions {
        display: flex;
        gap: rem(20);
        align-items: center;
        justify-content: center;

        @include mobile {
            flex-direction: column;
        }
    }

    &__button {
        font-weight: 700;
        padding: rem(24) rem(48);
    }

    &__illustration {
        &-left {
            position: absolute;
            top: 65%;
            translate: 0 -50%;
            left: rem(-320);
            max-width: fluid(650, 450);
            z-index: 1;

            @include tablet {
                left: rem(-370);
            }
        }

        &-right {
            position: absolute;
            right: rem(50);
            top: rem(150);
            max-width: fluid(170, 100);
            z-index: 1;

            @include tablet {
                right: 0;
            }

            &--offset {
                right: rem(-40);
            }
        }
    }
}