@use '../helpers' as *;

.news {
    position: relative;
    z-index: 10;
    padding-bottom: rem(140);
    display: flex;
    flex-direction: column;
    row-gap: rem(100);

    &__inner {
        display: flex;
        flex-direction: column;
        row-gap: rem(100);
    }

    &__image-wrapper {
        img {
            width: 100%;
        }
    }

    &__body {
        display: flex;
        flex-direction: column;
        row-gap: rem(80);
    }

    &__title {
        align-self: center;
        position: relative;

        &::after {
            content: '';
            position: absolute;
            top: rem(-60);
            left: rem(-100);
            display: flex;
            width: rem(130);
            height: rem(100);
            background: url(../../images/article/illu-title.svg) center no-repeat;
            background-size: contain;
        }
    }

    &__text {
        line-height: 160%;
        color: var(--color-gray);

        @include mobile-above {
            column-count: 2;
        }

        a {
            text-decoration: underline;
        }

        ol,
        ul {
            display: flex;
            flex-direction: column;
            row-gap: rem(40);
            margin: 0;
        }

        ol li::marker,
        ul li::marker {
            font-weight: 700;
            color: var(--color-accent);
            margin-right: 15px;
        }
    }
}