@use '../helpers' as *;

.quote {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: rem(40);
    padding: rem(40);
    border-radius: rem(8);
    background-color: var(--color-light-accent);

    &__title {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    &__marks {
        color: var(--color-accent);
    }

    &__text {
        text-align: center;
    }

    &__illustration {
        &-left,
        &-right {
            position: absolute;
        }

        &-left {
            left: rem(-60);
            bottom: rem(50);
        }

        &-right {
            right: rem(-60);
            top: rem(-50);
        }
    }
}