@use '../helpers' as *;

.reviews {
    background-color: var(--color-light-blue);

    &__inner {
        padding-block: rem(140) rem(100);
        display: flex;
        flex-direction: column;
        row-gap: rem(100);
    }

    &__title {
        position: relative;

        &::after {
            content: '';
            position: absolute;
            top: rem(-75);
            left: rem(-100);
            display: flex;
            width: rem(105);
            height: rem(105);
            background: url(../../images/reviews/illustration-left.svg) center no-repeat;
            background-size: contain;

            @include mobile {
                width: rem(85);
                height: rem(85);
                top: rem(-55);
                left: rem(-70);
            }

            @include mobile-s {
                display: none;
            }
        }
    }

    &__slider {
        &.swiper {
            display: flex;
            flex-direction: column;
            row-gap: rem(60);
            justify-content: start;
            position: relative;
            width: 100%;
            overflow: hidden;
        }
    }

    &__buttons {
        display: flex;
        column-gap: rem(20);
        width: 100%;
        padding-inline: 0;
    }

    &__button {
        background-color: transparent;
        border: none;
    }
}