@use '../helpers' as *;

.search {
    position: relative;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 50%;
        background-color: var(--color-light-accent);
        z-index: -1;
    }

    &__wrapper {
        min-width: rem(570);
        display: flex;
        column-gap: rem(24);
        align-items: center;
        justify-self: center;
        border: rem(1.5) solid var(--color-black);
        border-radius: rem(16);
        padding: rem(24) rem(40);
        box-shadow: var(--shadow-blue);
        background-color: var(--color-white);

        @include mobile {
            min-width: 100%;
        }
    }

    &__input {
        border: none;
        background-color: transparent;
        width: 100%;
        @include fluid-text(18, 16);

        &::placeholder {
            font-weight: 500;
            line-height: 160%;
            color: var(--color-gray);

            @include fluid-text(18, 16);
        }

        &:focus {
            outline: none;
        }
    }
}