@use '../helpers' as *;

.slider {
    &__list {
        display: flex;
        column-gap: rem(20);
        width: 100%;
        height: auto;
    }

    &__item {
        &.swiper-slide {
            display: flex;
            flex-direction: column;
            align-items: start;
            row-gap: rem(32);
            padding: rem(40);
            border-radius: rem(8);
            background-color: var(--color-white);
            height: 100%;
            flex-shrink: 0;
        }
    }
    
    &__title {
        align-items: start;
    }

    &__marks {
        text-align: left;
        line-height: 90%;
        color: var(--color-accent);
    }

    &__text {
        font-weight: 500;
        font-size: rem(22);
        line-height: 160%;
    }
}