@use 'helpers' as *;

html {
  &.is-lock {
    overflow: hidden;
  }
}

body {
  @include fluid-text(16, 14);

  display: flex;
  flex-direction: column;
  font-family: var(--font-family-base);
  font-weight: 500;
  color: var(--color-black);
  background-color: var(--color-white);
}

main {
  flex-grow: 1;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5 {
  font-weight: 700;
  color: var(--color-black);
}

h3, .h3,
h4, .h4,
h5, .h5 {
  line-height: 1.4;
}

h2, .h2,
h4, .h4,
h5, .h5 {
  letter-spacing: -0.02em;
}

h1, .h1 {
  @include fluid-text(96, 70);

  line-height: 1;
  letter-spacing: -0.04em;  
  text-align: center;
}

h2, .h2 {
  @include fluid-text(59, 40);

  line-height: 1.2;
  text-align: center;
}

h3, .h3 {
  @include fluid-text(46, 40);

  letter-spacing: -0.08em;
}

h4, .h4 {
  @include fluid-text(36, 30);
}

h5, .h5 {
  @include fluid-text(22, 18);
}

p {
  --paragraphMarginBottom: #{rem(24)};
}

a,
button,
label,
input,
textarea,
select,
svg * {
  transition-duration: var(--transition-duration);
}

a {
  color: inherit;

  @include hover {
    color: var(--color-accent);
  }

  &[class] {
    text-decoration: none;
  }
}

a,
button {
  &[aria-label] {
    position: relative;

    &::before {
      @include abs-center;
      @include square(rem(44));

      content: '';
    }
  }
}