@use 'helpers' as *;

:root {
  --color-white: #FFFFFF;

  --color-black: #000000;
  --color-gray: #4d4d4d;

  --color-light-accent: #f7ede8;
  --color-accent: #cd4631;
  --color-blue: #81adc8;
  --color-light-blue: #edf3f7;

  --shadow-accent: 6px 6px 0 0 var(--color-accent);
  --shadow-blue: 10px 10px 0 0 var(--color-blue);
  --shadow-gray: 6px 6px 0 0 rgba(0, 0, 0, 0.25);
  --shadow-black: 10px 10px 0 0 var(--color-black);

  --font-family-base: 'Montserrat Alternates', sans-serif;

  --container-width: #{rem(1160)};
  --container-padding-x: #{rem(16)};

  --transition-duration: 0.2s;
}