@use 'normalize';
@use 'fonts';
@use 'variables';
@use 'utils';
@use 'globals';

@use 'blocks/icon';
@use 'blocks/logo';
@use 'blocks/button';
@use 'blocks/burger-button';
@use 'blocks/soc1al';
@use 'blocks/header';
@use 'blocks/footer';
@use 'blocks/tabs';
@use 'blocks/tags';
@use 'blocks/search';
@use 'blocks/section';
@use 'blocks/hero';
@use 'blocks/hero-single-news';
@use 'blocks/gallery';
@use 'blocks/supported';
@use 'blocks/author';
@use 'blocks/quote';
@use 'blocks/about';
@use 'blocks/about-section';
@use 'blocks/slider';
@use 'blocks/reviews';
@use 'blocks/benefits';
@use 'blocks/episode-card';
@use 'blocks/episodes';
@use 'blocks/become-sponsor';
@use 'blocks/rate-card';
@use 'blocks/article-card';
@use 'blocks/articles';
@use 'blocks/app';
@use 'blocks/metrics';
@use 'blocks/founder-card';
@use 'blocks/founders';
@use 'blocks/sponsor';
@use 'blocks/feedback';
@use 'blocks/form';
@use 'blocks/podcast';
@use 'blocks/last-hosted';
@use 'blocks/news';